<h1>Registration</h1>

<form action="/u2f_registration" method="post">
  <input type="hidden" name="response">
</form>

<script>
    // render requests from server into Javascript format
    let appId = <%= @app_id.to_json.html_safe %>;
    let registerRequests = <%= @registration_requests.to_json.html_safe %>;
    let signRequests = <%= @sign_requests.as_json.to_json.html_safe %>;
    console.log(appId);
    console.log(registerRequests);
    console.log(signRequests);

    u2f.register(appId, registerRequests, signRequests, function(registerResponse) {
        var form, reg;
        console.log("u2f.register called");
        if (registerResponse.errorCode) {
            return alert("Registration error: " + registerResponse.errorCode);
        }

        form = document.forms[0];
        let response = document.querySelector('[name=response]');

        response.value = JSON.stringify(registerResponse);

        form.submit();
    });
</script>