<footer class="footer">
  <small>
    Created by <a href="https://linkedin.com/in/philipp-bzdok-b76562176">Philipp Bzdok</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://n-design.de/aktuelles/">News</a></li>
    </ul>
  </nav>
</footer>